<div mat-dialog-title class="d-flex justify-content-between align-items-center">
    <h2 mat-dialog-title>Suggest Location</h2>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="mat-typography">
    <div style="height: 200px">
        <agm-map (mapClick)="mapClicked($event)" style="height: 100%" [latitude]="latitude" [longitude]="longitude">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
    </div>
    <form (ngSubmit)="onSubmit()" #locationForm="ngForm" class="mt-2">
        <mat-form-field class="form-control">
            <mat-label>Name:</mat-label>
            <input type="text" id="name" matInput required [(ngModel)]="insertLocation.name" name="name">
        </mat-form-field>
        <button mat-raised-button type="submit" class="form-control">Suggest Location</button>
    </form>
</mat-dialog-content>